* {
    margin: 0;
    padding: 0;

}

.contenedorWallpapar {
    position: sticky;
    top: 0;
    z-index: -2;
}

.wallpapar {
    width: 100%;
    position: sticky;
    top: 0;
    position: relative;

}


/***********ESTILOS MENU ADMINISTRACION***********/

.contenedorAdministracion {

    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    /*top: -1000px; */
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;


}

.datosPerfil {
    display: flex;

}

.nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: yellow;
}

.tipoSocio {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
}

.imgPerfil {
    height: 80px;
    border-radius: 100%;

}

@media only screen and (min-width: 900px) {
    .menuDesplegable {
        display: none;

    }

    .wallpaperResponsive {
        display: none;
        background-attachment: fixed;
    }

}

@media only screen and (max-width: 600px) {}


@media only screen and (max-width: 900px) {
    .imgPerfil {
        display: none;
    }

    .wallpapar {
        display: none;
    }

    .menu {
        display: none;
    }

    .contenedorAdministracion {
        display: flex;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background-color: black;


    }

    .panelAdmin {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex
    }

}

.wallpaperResponsive {
    width: 100%;
}

/******************************************/

.contenedorTabla {
    width: 100%;

}

.ulMenu {
    list-style: none;
    cursor: pointer;
}

li {
    color: white;
    font-weight: 600;
}

li:hover {
    color: yellow;
}

.flechaMenu {
    float: right;
    margin-right: 5px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: yellow;
}

/***********ESTILOS PANEL ADMINISTRACION***********/

/***********ESTILOS PUBLICIDAD ADMINISTRACION***********/