
.footerContainer{
    position:relative;
    z-index: 1;
}
/***********ESTILOS ESPONSOR***********/
.footerEsponsor {
    background: #0B3073;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    /*alineamos los elementos de forma horizontal*/
    justify-content: space-around;
    /*alineamos los elemnetos de forma vertival*/
    align-items: center;
   

}

.aa{
    text-align: center;
    /*alineamos los elemnetos de forma vertival*/
    align-items: center;
    width: 25%;  
}

.adidas {
    width: 30%;
  

}

.quilmes {
    width: 40%;
   
}

.bancoPampa {
    width: 40%;
    
}

.cooprol {
    width: 30%;
  
}

/***********ESTILOS REDES***********/
.footer {
    background: #003290;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    /*alineamos los elementos de forma horizontal*/
    justify-content: space-around;
    /*alineamos los elemnetos de forma vertival*/
    align-items: center;
}

.logoFooter {
    margin-left: 30px;
    font-family: tahoma;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;



}

.imagenFooter {
    width: 20%;
    height: 20%;
}

.iconosRedes {
    justify-content: center;
}

.iconosFooter {
    margin-left: 10px;
    margin-right: 0px;
    width: 10%;
}

.iconosFooter:hover {
    color: white;
    background-color: #f39608;
    padding: 3px;
    border-radius: 50%;

}